<%- include('layout/header') %>
<link rel="stylesheet" href="/css/usuarios.css">

<body>
    <div class="container">
        <h1>Total de Estudiantes</h1>
        <p class="count-text">El número total de estudiantes en el sistema es: <span class="total-number"><%= total %></span></p>
        <a href="/students" class="button">Regresar a la lista de estudiantes</a>
    </div>
</body>

<%- include('layout/footer') %>
